body {
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

.messages {
    margin-bottom: 20px;
}

.out-message {
    padding: 5px;
    background-color: rgb(155, 212, 229);
    color: rgb(170, 17, 17);
}

.in-message {
    padding: 5px;
    background-color: lightgreen;
}